body{
    height: 1900px;
    overflow: hidden;
    font-family: sans-serif;
}
.webMark{
  position: relative;
  top: 0;
}
.mongus{
  float: left;
}
.topText{
  font-size: 40px;
  line-height: 50px;
}
.bottomText{
  line-height: 0px;
}
r{
  color: red;
}
.web{
  border-bottom: 3px solid black;
}
/* Navbar */
.topnav {
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  overflow: hidden;
  transition: all 2s;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a{
  display: inline-block;
  text-decoration: none;
}
.topnav a::after {
  content: '';
  display: block;
  width: 0;
  height: 0px;
  transition: width .3s;
  border-bottom: 1px solid red;
}
.topnav a:hover::after {
  width: 100%;
  transition: width .3s;
}

.topnav a.active {
  content: '';
  display: block;
  height: 6px;
  border-bottom: 1px solid red;
}